.input {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.534);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 30px;
  border: none;
  outline: none;
}
.input::placeholder {
  color: white;
  opacity: 0.4; /* Firefox */
}

.chatInput {
  border-radius: 0px;
  background-color: initial;
  width: 90%;
  height: 100%;
}