.meetingSpace {
    display: flex;
    gap: 50px;
    width: fit-content;
    margin: 5% auto;
    justify-content: space-evenly;

}

.videoCall {
    width: 800px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.850);
}

.chatroom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    
}
.chatMessages {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.850);

}

.chatroomInput {
    display: flex;
    align-items: center;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.486);


}
.chatroom svg {
    margin: auto;
}